.contract-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contract-form {
  padding: 20px 40px;
  width: 100%;
}

h3 {
  color: #7B6F72;
  font-size: 28px;
  margin-top: 10px;
}